/* The popup container */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Popup content box */
.popup-content {
    position: relative;
    margin: 15% auto; /* Center it */
    padding: 20px;
    width: 80%; /* Could be more or less depending on screen size */
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    }

/* The close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}